/*** Global stylesheet
******************************************/
@font-face {
  font-family: gibson-light;
  src: url('fonts/GibsonLight-Regular.ttf');
}
@font-face {
  font-family: gibson-regular;
  src: url('fonts/Gibson-Regular.ttf');
}
body {
  font-family: gibson-light;
  color: #3A444E;
}
.font-regular {
  font-family: gibson-regular;
}
.font-r-15 {
  font-size: 4vw;
  letter-spacing: 1.9px;
}
.font-40 {
  font-size: 10.8vw; }
.font-35 {
  font-size: 9.4vw; }
.font-30 {
  font-size: 8vw; }
.font-25 {
  font-size: 6.8vw; }
.font-20 {
  font-size: 5.3vw; 
  line-height: 2;
  letter-spacing: 1px; }
.font-15 {
  font-size: 4vw; 
  line-height: 1.4;
  letter-spacing: 0.6px; }
.font-12 {
  font-size: 3.2vw;
  letter-spacing: 0.4px;
}
.font-10 {
  font-size: 2.8vw;
  letter-spacing: 0.3px;
}
.font-8 {
  font-size: 2.2vw;
  letter-spacing: 0.2px;
}
.customBtn {
  cursor: pointer;
  border: 1.4px solid;
  border-radius: 5px;
  color: #42D5BA !important;
  transition: all 0.2s ease-in-out;
  box-shadow: 0 0px 12px rgba(0, 255, 210, 0.5); }
  .customBtn:active,
  .customBtn:focus,
  .customBtn:hover {
    text-decoration: none;
    background-color: #00D9BD;
    border-color: #00D9BD; 
    color: white !important;
  }
.color-teal {
  color: #42D5BA !important; }
.color-orange {
  color: #FF6C00 !important; }
.hide-mobile {
  display: block; }

@media only screen and (max-width: 768px) {
  .hide-mobile {
    display: none; } 
}
/*** Intro stylesheet
******************************************/

/* Responsive for mobile */
@media only screen and (max-width: 768px) {
  #intro {
    height: 100vh; }
    #intro .shareBtn {
      position: absolute;
      top: 2vh;
      right: 2.5vw; }
      #intro .shareBtn img {
        width: 10.5vw; 
        transition: all 0.2s ease-in-out; }
    #intro .owl-carousel .item .slider-img {
      width: 100vw; 
      height: 100vh; }
    #intro .owl-carousel .owl-dots {
      position: fixed;
      bottom: 10px;
      width: 100%;
      margin: auto; }
      #intro .owl-carousel .owl-dots .owl-dot span {
        margin: 5px 2px; }
      #intro .owl-carousel .owl-dots .owl-dot.active span {
        background: #26D2C4; }
    #intro .owl-carousel #intro-part-1 .title {
      position: fixed;
      top: 10vw;
      left: 9vw;
      width: 64vw; }
    #intro .owl-carousel #intro-part-2 .slider-img {
      height: auto;
      margin-top: -8vh; }
      #intro .owl-carousel #intro-part-2 .bottom-content {
        position: fixed;
        bottom: -7vh;
        width: 100vw;
        height: 22vh; 
        padding-top: 2.4vh;
        background-color: white;
        text-align: center; }
    #intro .owl-carousel #intro-part-3 .bottom-content {
      position: fixed;
      bottom: 0px;
      width: 100vw;
      height: 22vh; 
      padding-top: 2.4vh;
      background-color: white;
      text-align: center; }
    #intro .owl-carousel #intro-part-4 img {
      height: auto; }
      #intro .owl-carousel #intro-part-4 .bottom-content {
        position: fixed;
        bottom: -10vh;
        width: 100vw;
        height: 25vh;
        padding: 2.4vh 10vw;
        background-color: white;
        text-align: center; }
        #intro .owl-carousel #intro-part-4 .bottom-content h3 {
          margin-bottom: 2.3vh;
        }
        #intro .owl-carousel #intro-part-4 .bottom-content #changeBtn {
          padding: 1vh 4vw; }
        
}
/* Responsive for tablet */

/* Responsive for PC */

/*** Enlight stylesheet
******************************************/
/* Responsive for mobile */
@media only screen and (max-width: 768px) {
  #enlight {
    height: 100vh; }
    #enlight .carousel .item .slider-img {
      width: 100vw; 
      height: 100vh; }
    #enlight .header {
      position: fixed;
      top: 0;
      padding: 3vh;   
      width: 100vw;
      background-color: white;
      text-align: center; 
      z-index: 10; }
    #enlight .carousel .carousel-indicators {
      position: fixed;
      top: 10vh;
      bottom: unset;
      z-index: 11; }
      #enlight .carousel .carousel-indicators li {
        width: 10px;
        height: 10px;
        border-radius: 100%; 
        background-color: #dddddd; }
        #enlight .carousel .carousel-indicators li.active {
          background-color: #3A444E; }
    #enlight .carousel .item {
      padding: 10px 0px; }
    #enlight .carousel .item-content {
      position: relative;
      margin: 16.5vh auto;
      padding: 0vh 5vw 2vh 5vw;
      width: 79vw;
      border-radius: 20px;
      box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); }
      #enlight .carousel .item-content #enlight-text {
        position: absolute;
        width: 28vw;
        top: 4.5vh;
        left: 25vw;}
      #enlight .carousel .item-content .list-items {
        margin-top: 3vh;
        text-align: center; }
        #enlight .carousel .item-content .list-items .list-item {
           }
          #enlight .carousel .item-content .list-items .list-item a {
            color: #3A444E; }
            #enlight .carousel .item-content .list-items .list-item a:hover {
              text-decoration: none;
              color: #3A444E; }
        #enlight .carousel .item-content .list-items .list-item.list-item-last{
          margin-bottom: 2vh; }
        #enlight .carousel .item-content .list-items .list-item  div img {
          width: auto;
          margin: 3vh auto 1vh auto; }
          #enlight .carousel .item-content .list-items .list-item  div p {
            margin-bottom: 0px; }
        #enlight .carousel .item-content .list-items .list-item #collapse-menu-parent {
          padding-left: 11vw;
          padding-right: 10vw; }
          #enlight .carousel .item-content .list-items .list-item #collapse-menu-parent .panel .panel-heading a img {
            margin: auto; }
            #enlight .carousel .item-content .list-items .list-item #collapse-menu-parent .panel .panel-heading a>.arrow-down{
              -webkit-transform: rotate(0deg);
              -moz-transform:    rotate(0deg);
              -ms-transform:     rotate(0deg);
              -o-transform:      rotate(0deg);
              transform:         rotate(0deg);
            }
            #enlight .carousel .item-content .list-items .list-item #collapse-menu-parent .panel .panel-heading a.collapsed>.arrow-down{
               -webkit-transform: rotate(180deg);
              -moz-transform:    rotate(180deg);
              -ms-transform:     rotate(180deg);
              -o-transform:      rotate(180deg);
              transform:         rotate(180deg);
            }
          #enlight .carousel .item-content .list-items .list-item #collapse-menu-parent .panel .panel-heading a h3 {
            padding-left: 4vw;
            display: inline-block; }
          #enlight .carousel .item-content .list-items .list-item #collapse-menu-parent .panel .panel-collapse {
            padding-left: 7vw; } 
          #enlight .carousel .logo-collapse {
            border-radius: 20px;
            box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); }
    #enlight .carousel .card-right  {
      position: absolute;
      width: 10vw;
      display: block;
      right: -3vw;
      height: 55vh;
      border-radius: 20px;
      box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); }
    #enlight .carousel .card-left  {
      position: absolute;
      width: 10vw;
      display: block;
      left: -3vw;
      height: 55vh;
      border-radius: 20px;
      box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); }
      /* Offer Part */
      #enlight .carousel #offer-part #enlight-logo {
        position: absolute;
        width: 10vw;
        top: 1.5vh;
        left: 33vw; }
      #enlight .carousel #offer-part #enlight-title {
        position: absolute;
        margin: auto;
        left: 28vw;
        top: 5vh; }
        #enlight .carousel #offer-part .item-content #enlightHubImg {
          margin: 3vh auto; }
        #enlight .carousel #offer-part .item-content #googlePlayImg {
          margin: 5vh auto; }
        #enlight .carousel .list-item .garranty-item #garrantyImg{
          position: absolute;
          left: 42vw; } 
        #enlight .carousel .list-item .garranty-item img {
          margin: 3vh auto !important; }
        #enlight .carousel .list-item #questionImg {
          position: absolute;
          left: 50vw; }
        #enlight .carousel .list-item #cleanerImg {
          position: absolute;
          left: 13vw;
          margin: 0; }
      /* Client Part */
      #enlight .carousel #client-part #enlight-logo {
        position: absolute;
        width: 10vw;
        top: 1.5vh;
        left: 33vw; }
      #enlight .carousel #client-part #enlight-title {
        position: absolute;
        margin: auto;
        left: 28vw;
        top: 5vh; }
      #enlight .carousel #client-part .item-content {
        min-height: 55vh; }
      #enlight .carousel #client-part .list-items .list-item .company-logo {
        border-radius: 20px;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); 
        height: 14vh;
        margin-bottom: 3.5vh; }  
      #enlight .carousel #client-part .list-items .list-item .company-logo span {
        height: 100%;
        display: inline-block;
        vertical-align: middle; }
      #enlight .carousel #client-part .list-items .list-item .company-logo img {
        vertical-align: middle;
        max-height: 14vh;
        margin: 0px; }
      #enlight .carousel #client-part .list-items .list-item #searchBtn {
        margin-top: 2vh;
        padding: 1vh;
        width: 100%;
        color: #FFD700; 
        box-shadow: 0 0px 12px rgba(255, 230 , 96, 0.5); }
        #searchBtn:active,
        #searchBtn:focus {
          text-decoration: none;
          color: #FFD700; }
      #searchMap {
        display: none; }
      /* System Part */
      #enlight .carousel #system-part #enlight-logo {
        position: absolute;
        width: 10vw;
        top: 1.5vh;
        left: 33vw; }
      #enlight .carousel #system-part #enlight-title {
        position: absolute;
        margin: auto;
        left: 28vw;
        top: 5vh; }
      #enlight .carousel #system-part .item-content .list-items .list-item div img {
        margin: 0; }
      #enlight .carousel #system-part .item-content .list-items .list-item #howWorks #connectImg {
        width: 100%; }
      #enlight .carousel #system-part .item-content .list-items .list-item #howSave .row img,
      #enlight .carousel #system-part .item-content .list-items .list-item #howSave .row .col-10 div {
        margin-bottom: 5vh; }
      #enlight .carousel #system-part .item-content {
        min-height: 55vh; }
    /* Enlight Footer */
    #enlight .footer {
      position: fixed;
      bottom: 0px;
      height: 10vh;
      width: 100vw;
      padding: 3vh 7vw;
      background-color: white;
      z-index: 1000; }
      #enlight .footer #paymentBtn {
        padding: 1vh 2.5vw; }
        #enlight .footer div {
          display: inline-block; }
          #enlight .footer #paymentBtn {
            letter-spacing: 0px; }
      #enlight .footer #arrowBtn {
        padding: 1vh; 
        border-radius: 50%; }
        #enlight .footer #arrowBtn span img {
          vertical-align: unset;
        }
}

/*** Popup stylesheet
******************************************/
/* Responsive for mobile */
@media only screen and (max-width: 768px) {
  #popups .popup {
    text-align: center;
    display: none; }
    /* Garranty popup */
    #popups #garranty-popup .popup-title {
      margin: 8vh auto 5vh auto;
      text-align: center; }
    #popups #garranty-popup .popup-content {
      padding: 0 10vw; }
      #popups #garranty-popup .popup-content .popup-item .item-name {
        margin-top: 6vh; }
      /* Refered Popup */
    #popups #referred-popup .popup-title {
      margin-top: 21vh; }
    #popups #referred-popup .popup-content .item-image img {
      width: 30vw; }
    #popups #referred-popup .popup-content .item-desc {
      padding: 3vh 12vw; }
    #popups #referred-popup .popup-footer {
      margin-top: 21vh; }
    /*  Logo Popup */
    #popups .logo-popup .popup-header {
      margin: 8vh auto 4vh; }
    #popups .logo-popup .popup-content {
      padding: 0 8vw; }
      #popups .logo-popup .popup-content .content-item .content-item-main {
        margin: 3vh -15px;
      }
      #popups .logo-popup .popup-content .content-item .content-item-sub {
        margin-left: 10vw; }
      #popups .logo-popup .popup-content .content-item .bigIcon {
        height: 28px;
        width: 28px; }
      #popups .logo-popup .popup-content .content-item .content-item-row .col {
        text-align: center;
        height: 7.7vh;
        border-bottom: 1px solid #DDDDDD;
        border-left: 1px solid #dddddd;
        }
      #popups .logo-popup .popup-content .content-item .content-item-row .col p {
        margin-bottom: 0px !important; }
      #popups .logo-popup .popup-content .content-item .content-item-row .col h3 {
        line-height: 7.7vh;
        vertical-align: middle;
      }
      #popups .logo-popup .popup-content .content-item .content-item-row-header {
        display: flex;
        align-items: center;
        flex-wrap: wrap; }
      #popups .logo-popup .popup-content .content-item .content-item-row .col:first-child {
        border-left: none; }
      #popups .logo-popup .popup-content .content-item .content-item-row:last-child .col {
        border-bottom: none; }
    #popups #atlas-popup .content-item,
    #popups #vesta-popup .content-item {
        color: #A7A7A7; }
    #popups #vesta-popup .content-item .content-item-row .col {
      padding: 0px; }
}

/*** Characteristic stylesheet
******************************************/
/* Responsive for mobile */
@media only screen and (max-width: 768px) {
  #characteristic .font-12{
    letter-spacing: 1px; }
  #characteristic .characteristic-page {
    background-color: #585858;
    width: 100vw;
    height: 100vh; 
    padding: 5vh 2vw;
    color: #707070; }
    #characteristic .characteristic-page .popup-div {
      width: 96vw;
      height: 92vh;
      padding: 2vw 2vh;
      border-radius: 10px;
      box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
      background-color: white; }
      #characteristic .characteristic-page .popup-div .header .right-logo {
        width: 15vw;
        margin-top: 1.5vh; }
      #characteristic .characteristic-page .popup-div .content {
        position: relative;
        width: 100%;
        height: 80vh;
        margin-top: 4vh;
        padding: 2vw 2vh;
        border: 1px solid #00FFD2;
        border-radius: 5px;
      }
        #characteristic .characteristic-page .popup-div .content .content-top{
          border-bottom: 1px solid #707070; }
        #characteristic .characteristic-page .popup-div .content .content-main{
          text-align: center; }
          #characteristic .characteristic-page .popup-div .content .content-main .current-consumption {
            margin-top: 7vh; }
          #characteristic .characteristic-page .popup-div .content .content-main .consume-energy .customBtn {
            display: inline-block;
            width: 13vw;
            padding: 1vh 1vw;
            box-shadow: none; }
            #characteristic .characteristic-page .popup-div .content .content-main .consume-energy .manualInput {
              display: inline-block;
              text-align: center;
              width: 13vw;
              padding: 1vh 1vw;
              text-decoration: underline;
              color: #70707060;
              border: 1.4px solid #70707059;
              border-radius: 5px; }
            #characteristic .characteristic-page .popup-div .content .content-main .consume-energy #consume-1 {
              margin-top: 4vh; }
            #characteristic .characteristic-page .popup-div .content .content-main .consume-energy #consume-2 {
              margin: 3vh auto 1vh; }
            #characteristic .characteristic-page .popup-div .content .content-main .consume-energy #consume-3 {
              margin: 3vh; }
            #characteristic .characteristic-page .popup-div .content .content-main .consume-energy #consume-4 a {
              text-decoration: underline; }
            #characteristic .characteristic-page .popup-div .content .content-main .consume-energy #consume-6 {
              text-decoration: underline;
              opacity: 0; }
            #characteristic .characteristic-page .popup-div .content .content-main .consume-energy #consume-5 {
              margin-top: 4vh;
              display: block; 
              width: 100%; 
              opacity: 0;
              height: 5vh; }
            #characteristic .characteristic-page .popup-div .content .content-main .consume-energy .closeBtn {
              position: absolute;
              bottom: 0px;
              right: 0px; }
  #characteristic #plugPage {
    display: none; }
    #characteristic #plugPage .popup-div {
      position: relative; }
    #characteristic #plugPage .content {
      border: none; }
      #characteristic #plugPage .content #plug-1{
        margin-top: 11vh; }
      #characteristic #plugPage .content #plug-2{
        margin-top: 5vh; }
    #characteristic #plugPage .footer {
      position: absolute;
      bottom: 3.4vh;
      right: 4vw; } 
}

/*** Payment stylesheet
******************************************/
/* Responsive for mobile */
@media only screen and (max-width: 768px) {
  #payment {
    position: relative;
    background-color: #00D5BC; 
    height: 100vh; }
  #payment .header {
    text-align: center;
    padding: 3vh 3vw 2vh; }
    #payment .header .title {
      color: white;
      letter-spacing: 1px;
      margin-bottom: 0px; }
    #payment .header a {
      position: absolute;
      top: 1vh;
      right: 2vw; }
  #payment .content .carousel {
    padding-bottom: 8vh; }
  #payment .content .carousel-inner .carousel-item{
    padding: 1vh 0; }
    #payment .content .carousel .carousel-indicators li {
      width: 15px;
      height: 15px;
      border-radius: 100%; 
      background-color: white; }
      #payment .content .carousel .carousel-indicators li.active {
        background-color: #707070; }
    #payment .content .carousel-inner .carousel-item .item-content {
      width: 82vw;
      height: 70vh;
      background: white;
      margin: auto;
      border-radius: 10px;
      box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.45); }
    #payment .content .carousel-inner .carousel-item .card {
      display: block;
      position: absolute;
      width: 20vw;
      height: 70vh;
      border-radius: 10px;
      background: white;
      box-shadow: 0px 0px 15px rgba(0, 0, 0, .45); }
    #payment .content .carousel-inner .carousel-item .card.card-left {
      left: -15vw; }
    #payment .content .carousel-inner .carousel-item .card.card-right {
      right: -15vw; }
    #payment .content .carousel-inner .carousel-item .item-content {
      padding: 4vh 4vw;
      text-align: center; }
    #payment .content .carousel-inner .carousel-item .item-content #item-4 {
      position: absolute;
      bottom: 4vh;
      left: 20vw; }
    #payment .content .carousel-inner .carousel-item .item-content .discount-step1,
    #payment .content .carousel-inner .carousel-item .item-content .discount-step2 {
      display: none; }
      #payment .content .carousel-inner .carousel-item .item-content .discount-step2 .oldPrice {
        text-decoration: line-through;
        text-decoration-color: #FF6C00;
        text-decoration-line: 2px; }    
    #payment .content .carousel-inner .carousel-item .item-content #item-1 {
      margin: 1vh 0 5vh; }
    #payment .content .carousel-inner .carousel-item .item-content #item-2 {
      margin-bottom: 2vh; }
    #payment .content .carousel-inner .carousel-item .item-content #item-3 {
      margin-bottom: 5vh; }
    #payment .content .carousel-inner .carousel-item .item-content #item-4 a{
      display: block;
      padding: 0.8vh; }
    #payment .content .carousel-inner .carousel-item#part2 .item-content p {
      margin-bottom: 1vh; }
    #payment .content .carousel-inner .carousel-item#part2 .item-content .row {
      margin: 1vh 0 5vh; }
    #payment .content .carousel-inner .carousel-item#part2 .item-content #part2-item1 {
      margin-bottom: 4.2vh; }
    #payment .content .carousel-inner .carousel-item#part3 .item-content .row  p {
      margin-bottom: 1px; }
  #payment .chooseForm,
  #payment .discountForm,
  #payment .discountFinal {
    display: none;
  }
  #payment .discountFinal #goPaymentBtn img {
    position: absolute;
    top: 0px;
    width: 100vw;
    top: 22vh; }
  #payment .transparent-background {
    position: absolute;
    top: 0px;
    width: 100vw;
    height: 100vh;
    background-color: #53535376; }
    #payment .chooseForm .selector {
      position: absolute;
      padding: 7vh 10vw;
      top: 25vh;
      left: 30vw;
      background: white;
      width: 40vw;
      height: 42vh;
      border-radius: 10px;
      box-shadow: 0px 0px 15px rgba(0, 0, 0, .45); }
    #payment .chooseForm .downBtn img {
      margin-bottom: 5vh; }
    #payment .chooseForm .selector #okBtn {
      padding: 1vh 5vw; }
    #payment .discountForm #freePanel {
      position: absolute;
      display: block;
      width: 100vw;
      height: 30vh;
      top: 30vh;
      padding: 5vh 15vw;
      background: white;
      color: #FF6C00;
      text-align: center;
    }
  #payment .footer {
    position: fixed;
    bottom: 0px;
    background: white;
    padding: 2vh 4vw;
    width: 100vw;
    height: 10vh; 
    z-index: 100; }
    #payment .footer #backBtn img{
      margin-top: 2vh;
      transform: rotate(-90deg); }
    #payment .footer .footer-right {
      float: right; 
      width: 14vw;
      margin-top: 1.5vh; }
}

/*** NextStep stylesheet
******************************************/
@media only screen and (max-width: 768px) {
  #nextstep .page {
    display: none; }
    #nextstep .page.active {
      display: block;
    }
    #nextstep .header {
      position: fixed;
      top: 0px;
      padding: 2vh 5vw; }
    #nextstep .previous-content {
      height: 100vh;
      padding: 0vh 5vw;
      background-color: white;
      text-align: center;
    }
    #nextstep .content {
      height: 100vh;
      margin-top: 47vh;
      padding: 0 5vw;
      background-color: white;
      text-align: center;
    }
      #nextstep .content #topCircle {
        position: absolute;
        top: 0;
        left: -2vw; }
      #nextstep .content #topBanner {
        position: fixed;
        width: 100vw;
        top: 0px;
        left: 0px;
        z-index: -1; }
      #nextstep .content .step-bar{
        position: fixed;
        top: 22vh;
        right: 3vw; }
        #nextstep .content .step-bar a {
          display: block; }
      #nextstep .content #item1,
      #nextstep .previous-content #item1 {
        padding-top: 8vw; }
      #nextstep .content #item2,
      #nextstep .previous-content #item2 {
        padding: 2vh; }
      #nextstep .content #item3,
      #nextstep .previous-content #item3 {
        margin-bottom: 3vh;
        padding: 0 5vw 0 3vw; }
      #nextstep .content #item4,
      #nextstep .previous-content #item4 {
        padding: 0 5vw 0 3vw; }
    /* First Page */
    #nextstep #firstPage .content {
      margin-top: 0;
      padding: 8vh 5vw; }
      #nextstep #firstPage .content #item1 {
        margin-top: 21vh;
        padding: 0 10vw; }
      #nextstep #firstPage .content #item2 {
        margin-top: 5vh;
        padding: 0 10vw; }
      #nextstep #firstPage .content #item3 {
        margin: 5vh auto 7vh;
        padding: 0 10vw; }
      #nextstep #firstPage .content #checkBtn {
        padding: 0.7vh 16vw; }
    /* Second Page */
    #nextstep #secondPage .content {
      margin-top: 0;
      padding: 8vh 5vw; }
      #nextstep #secondPage .content .row {
        margin-top: 6vh; }
        #nextstep #secondPage .content .row .icon {
          margin-top: 1vh;
          margin-bottom: 9vh; }
        #nextstep #secondPage .content .row .icon:last-child {
          margin-top: 0; }
        #nextstep #secondPage .content .row .step {
          text-align: left;
          font-size: 18px;
          margin-bottom: 9vh;
        }
    /* Step1 Page */
    #nextstep #step1Page .content {
    }
    #nextstep #step1Page .content #item2,
    #nextstep #step2Page .previous-content #item2 {
      padding: 3vh; }
    #nextstep #step1Page .content #item3,
    #nextstep #step2Page .previous-content #item3 {
      margin-bottom: 1vh; }
    #nextstep #step1Page ul,
    #nextstep #step2Page .previous-content ul {
      padding-right: 2vw; }
    #nextstep #step1Page ul li,
    #nextstep #step2Page .previous-content ul li {
        margin-bottom: 1vh; }
    /* Step2 Page */
    #nextstep #step2Page .content #item2,
    #nextstep #step3Page .previous-content #item2 {
      padding: 2vh; }
    #nextstep #step2Page .content #item3,
    #nextstep #step3Page .previous-content #item3 {
      margin-bottom: 3vh;
      padding: 0 3vw; }
    #nextstep #step2Page .content #item4,
    #nextstep #step3Page .previous-content #item4 {
      padding: 0 3vw; }
      #nextstep #step2Page .content #item4 a,
      #nextstep #step3Page .previous-content #item4 a {
        text-decoration: underline;
        margin-right: 3vw; }
        #nextstep #step2Page .content #item4 img,
        #nextstep #step3Page .previous-content img {
          width: 5vw; }      
    /* Step3 Page */

    /* Common Footer */
    #nextstep .footer {
      position: fixed;
      bottom: 0px;
      height: 7vh;
      width: 100vw;
      padding: 2vh 2vw;
      background-color: #00FFD2; 
      text-align: center; }
      #nextstep .footer a {
        background: white;
        border-radius: 5px;
        padding: 0.5vh 3vw;
      }
}
/*** Gratitue stylesheet
******************************************/
/* Responsive for mobile */
@media only screen and (max-width: 768px) {
  #gratitute .page {
  }
    #gratitute .page .header {
      position: fixed;
      top: 0px;
      padding: 2vh 5vw; }
    #gratitute .page .content {
      height: 60vh;
      margin-top: 38.2vh;
      padding: 0 6.7vw;
      background-color: white;
      text-align: center;
    }
      #gratitute .page .content #bannerImg {
        position: fixed;
        width: 100vw;
        top: 0px;
        left: 0px;
        z-index: -1; }
      #gratitute .page .content .title {
        font-size: 5.9vw;
        padding: 4vh 0 2.9vh 0; 
        letter-spacing: 3px; }
      #gratitute .page .content .content-body {
        padding: 3vh 8vw;
        border: 1px solid #00FFD2;
        border-radius: 5px;
      }
      #gratitute .page .content .content-body#part1,
      #gratitute .page .content .content-body#part3 {
        display: none; }
      #gratitute .page .content .content-body .logos #rightLogo {
        float: right;
        width: 61px;
        margin-top: 1vh; }
        #gratitute .page .content .content-body #item1 {
          display: flex;
          width: 100%;
          margin: 3vh auto 0vh;
        }    
        #gratitute .page .content .content-body #item1 .number {
          padding: 0 2vw; }   
        #gratitute .page .content .content-body #item1 .plus {
          padding: 0 2vw;   
          display: flex;
          align-items: center;
        }        
        #gratitute .page .content .content-body .changeBlock #yearCat {
          margin-bottom: 1vh; }
          #gratitute .page .content .content-body #subjectApproval {
            margin: 1vh auto; }        
            #gratitute .page .content .content-body .requestBtn {
              display: block;
              letter-spacing: 0;
              width: 100%;
              padding: 0.5vh 1vw; }    
        #gratitute .page .content .content-body#part1 .changeBlock {
          margin: 4vh; }   
        #gratitute .page .content .content-body#part2 .changeBlock {
          margin-bottom: 3vh; }        
        #gratitute .page .content .content-body#part2 .changeBlock #months {
          padding: 2vh 0; }
}

/*** Dashboard stylesheet
******************************************/
/* Responsive for mobile */
@media only screen and (max-width: 768px) {
  #dashboard .header a img {
    transform: rotate(-90deg);
    margin-left: 5vw;
    margin-top: 4vh; }
  #dashboard .header label {
    text-align: center;
    font-size: 6vw;
    letter-spacing: 1px; }
  #dashboard .body .page {
  }
    #dashboard .body .page .bimonthly {
      text-align: center;
    }
  #dashboard .footer {
    position: fixed;
    bottom: 0px;
    padding: 3vh 3vw;
    width: 100%;
    text-align: center; 
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); }
    #dashboard .footer .logo {
      margin-bottom: 1.5vh; }
      #dashboard .footer .logo img {
        width: 13vw; }
    #dashboard .footer .customBtn {
      font-size: 2.8vw;
      padding: 1vh; }
}